/* ipad pro */
@media all and (max-width: 1024px) {
  .welcome {
    height: 80px;
    line-height: 30px;
    margin: 50px 0 0 0;
  }

  .brand img {
      width: 200px;
      height: auto;
  }

  header {
      height: 140px;
  }

  .ova {
      width: 60%;
  }

  
}

/* small tablet */
@media all and (max-width: 600px) {
    .text-footer p{
        font-size: 14px;
    }

    
    .ova {
        width: 100%;
    }
    
}

/* iPhone 6/7/8 Plus */

@media all and (max-width: 414px) {
    .text-footer p{
        font-size: 12px;
    }

    .brand img {
        width: 160px;
        height: auto;
    }

    header {
        height: 110px;
    }

    .text-footer {
        line-height: 30px;
    }
    
}


