* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.container {
    width: 614px;
    height: 800px;
    background-color: #fff;
    margin-left: 25%;
}

header {
    position: absolute;
  width: 614px;
  height: 144px;
  left: 25%;
  top: 0px;
  background: rgba(102, 16, 242, 0.39);
}
.logo {
  position: absolute;
  width: 151px;
  height: 134px;
  left: 45%;
  top: 77px;
  mix-blend-mode: darken;
}

section {
    position: absolute;
    width: 548px;
    height: 506px;
    left: 27.5%;
    top: 184px;
    background: rgba(102, 16, 242, 0.08);
    
}

.content {
    margin: 5% 5%;
}
.content .title {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    font-family: 'Open Sans';
}
.btn-content2 {
    display: block;
    text-align: center;
}
.btn-content {
    background: linear-gradient(180deg, #DA8CFF 0%, #DA8CFF 0.01%, #9A55FF 100%);
    width: 164px;
height: 40px;
border-radius: 5px;
color: #fff;
border: none;
margin: 20% 35%;

}

.btn-content:hover {
    cursor: pointer;
    border: 1px solid #9A55FF;
}

footer {
  position: absolute;
  width: 615px;
  height: 80px;
  left: 25%;
  top: 720px;
  background: rgba(102, 16, 242, 0.39);
  text-align: center;
}

.text-footer {
    margin-top: 10px;
}

@media all and (max-width: 768px) {
    .container {
        margin-left: 10%;
    }
    
    header {
        left: 10%;
    }

    .logo {
        left: 40%;
    }

    section {
        left: 14.5%;
    }
    
    footer {    
   
    left: 10%;
   
    
        }
}

@media all and (max-width: 415px) {
    body {
        width: 100%;
    }
    .container {
        width: 100%;
        margin-left: 0;
    }
    
    header {
        width: 100%;
        left: 0;
    }

    .logo {
        left: 25%;
    }

    section {
        width: 100%;
        left: 0;
    }
    
    footer {    
        width: 100%;
    left: 0;
   
    
        }
}