/* ipad pro */
@media all and (max-width:1024px) {
    .container-header {
        height: 40%;
    }

    .brand {
        width: 21%
    }

    .space {
        height: 20vh;
    }

    
}

/* iPhone 6/7/8 Plus */

@media all and (max-width:414px) { 
    .text-footer p{
        font-size: 14px;
    }

    .brand {
        width: 28%;
    }

}
/* iphone X */

@media all and (max-width:375px) { 
    .text-footer p{
        font-size: 13px;
    }

    .brand {
        width: 32%;
    }

}

/* iPhone 5/SE */
@media all and (max-width:320px) { 
    .text-footer p{
        font-size: 12px;
    }

    .brand {
        width: 28%;
    }

    .ew-f p {
        font-size: 14px;
        
    }

    .text-content p{
        font-size: 14px;
        
    }
}