* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #E5E5E5;
    height: 100%;
    
    
}

.ova {
    width: 40%;
    background-color: #fff;
    margin: 0 auto;
    
}


header {
    height: 155px;
    background-color: #F2EDF3;
}

.brand {
   height: 224px;
   text-align: center;
}


.welcome {
    height: 55px;
    background-color: #fff;
    align-items: center;
    line-height: 50px;
    margin: 50px 0px 25px 0;
}

.content {
    height: 120%;
    margin:0 10%;
}

.welcome p {
    font-size: 22px;
    color: #000;
    font-family: Open Sans;
}

.text-content p{
    font-size: 16px;
    color: #000;
    font-family: Open Sans;
}

.ew-f{
    margin: 20px 0;
}

.ew-f p {
    font-size: 16px;
    color: #000;
}

.btn-content {
    background: linear-gradient(180deg, #DA8CFF 0%, rgba(154, 85, 255, 0.93) 100%);
    padding: 8px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
}


footer {
position: relative;
height: 80px;
background-color: #F2EDF3;
margin-top: 150px;
  
}

.text-footer {
    text-align: center;
    line-height: 32px;
    
}
.text-footer-container {
    margin-top: 10px
}

.text-footer p{
    font-size: 16px;
    color: #000;
    font-family: Open Sans;
    opacity: 0.7;
    
}

.btn-content:hover {
    cursor: pointer;
    background-color: #000;
    border:solid 1px rgba(89, 3, 218, 0.93);
}