* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SF regular';
    src: url(/assets/fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: 'SF bold';
    src: url(/assets/fonts/SF-Pro-Display-Bold.otf);
}

body {
    background-color:  #F2EDF3;
    height: 100%;
    width: 100%;
    
    
}

header {
    height: 25%;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}

.brand {
    width: 14%;
    display: inline-block;
    text-align: center;
    
}

.img-responsive {
    
  width: 100%;
  height: auto;
}

.container-header {
    width:100%;
    height: 70%;
    background-color: #E5E5E5;
    
}

.content {
    height: 100%;
    width: 100%;
    
    
}

.space {
    height: 30vh;
}

.container-content {
    width: 90%;
    margin: 0 5%;
}

.welcome p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #000;
    font-family: SF bold;
}

.text-content p{
    font-size: 16px;
    color: #000;
    font-family: SF regular;
}

.ew-f{
    margin: 20px 0;
}

.ew-f p {
    font-size: 16px;
    color: #000;
}

.btn-content {
    background: linear-gradient(180deg, #DA8CFF 0%, rgba(154, 85, 255, 0.93) 100%);
    padding: 8px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
}




footer {
    position:absolute;
    background-color: #E5E5E5;
    height: 80px;
    width: 100%;
    bottom: 0;
}

.text-footer {
    text-align: center;
    margin-top: 15px;
}

.text-footer p{
    font-size: 16px;
    color: #000;
    font-family: SF regular;
    opacity: 0.7;
}

.btn-content:hover {
    cursor: pointer;
    background-color: #000;
    border:solid 1px rgba(89, 3, 218, 0.93);
}